<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/attack/efo_fire/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,480},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,608},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,524},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,736},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,623},{85,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,128}</string>
			</dict>
			<key>animation/res/attack/efo_fire/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,0},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,160},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,280},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,280},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,280},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,280},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,320},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,402},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,470},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,402},{122,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,160}</string>
			</dict>
			<key>animation/res/attack/efo_fire/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,402},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,440},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,511},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,480},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,549},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/46.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,589},{109,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,113}</string>
			</dict>
			<key>animation/res/attack/efo_fire/61.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/62.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,190},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/63.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/64.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/67.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/68.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,0},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/69.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,0},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,140},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/71.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,140},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/72.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,140},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/73.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,140},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/74.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,280},{140,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,190}</string>
			</dict>
			<key>animation/res/attack/efo_fire/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,524},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,524},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/53.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,620},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/54.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,658},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
			<key>animation/res/attack/efo_fire/55.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,698},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ef10.png</string>
			<key>realTextureFileName</key>
			<string>ef10.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>