<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/attack/efo_magic/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{420,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,424}</string>
			</dict>
			<key>animation/res/attack/efo_snow/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,532},{150,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,189}</string>
			</dict>
			<key>animation/res/attack/efo_snow/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,339},{150,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,189}</string>
			</dict>
			<key>animation/res/attack/efo_snow/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,682},{150,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,189}</string>
			</dict>
			<key>animation/res/attack/efo_snow/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,528},{150,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,189}</string>
			</dict>
			<key>animation/res/attack/efo_snow/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,832},{150,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,189}</string>
			</dict>
			<key>animation/res/attack/efo_snow/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,541},{176,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,170}</string>
			</dict>
			<key>animation/res/attack/efo_snow/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,847},{174,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,184}</string>
			</dict>
			<key>animation/res/attack/efo_snow/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{177,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,176}</string>
			</dict>
			<key>animation/res/attack/efo_snow/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,0},{173,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,167}</string>
			</dict>
			<key>animation/res/attack/efo_snow/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,177},{182,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,171}</string>
			</dict>
			<key>animation/res/attack/efo_snow/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{174,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,187}</string>
			</dict>
			<key>animation/res/attack/efo_snow/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,177},{177,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,173}</string>
			</dict>
			<key>animation/res/attack/efo_snow/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,167},{172,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,169}</string>
			</dict>
			<key>animation/res/attack/efo_snow/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{183,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,167}</string>
			</dict>
			<key>animation/res/attack/efo_snow/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,717},{173,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,172}</string>
			</dict>
			<key>animation/res/attack/efo_snow/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,354},{178,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,167}</string>
			</dict>
			<key>animation/res/attack/efo_snow/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,359},{182,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,170}</string>
			</dict>
			<key>animation/res/attack/efo_sword/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,890},{150,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,131}</string>
			</dict>
			<key>animation/res/attack/efo_sword/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,757},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>
			<key>animation/res/attack/efo_sword/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,424},{333,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{333,200}</string>
			</dict>
			<key>animation/res/attack/efo_sword/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{423,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{423,233}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ef19.png</string>
			<key>realTextureFileName</key>
			<string>ef19.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>