<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_damnation/dambnaimg_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,607},{201,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,175}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/ATK_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,747},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg08.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg09.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,607},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,203},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,607},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/effireallimg17.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/efmagicimg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,607},{139,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,138}</string>
			</dict>
			<key>animation/res/attack/ef_fireball01/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,405},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ef2.png</string>
			<key>realTextureFileName</key>
			<string>ef2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>