<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/attack/ef_equip/efwld_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,583},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,760},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,583},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,381},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,760},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,558},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,381},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/efwld_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,735},{175,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishib_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,191},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,393},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,595},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,797},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,191},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,191},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,191},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
			<key>animation/res/attack/ef_equip/eftishi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,381},{188,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ef21.png</string>
			<key>realTextureFileName</key>
			<string>ef21.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>