<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/attack/ef_knife/efkb15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>animation/res/attack/ef_knife/efkb16.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{300,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,200}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{230,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,202}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg02.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,685},{107,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,130}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg03.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{176,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,180}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg04.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,179},{176,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,180}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{176,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,180}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg06.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,203},{176,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,180}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg07.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,203},{176,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,180}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg08.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,205},{176,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,180}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd00.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,205},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd01.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,357},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,381},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd03.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,381},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd04.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,381},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd05.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,383},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd06.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,383},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd07.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,507},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd08.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,659},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd09.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,659},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,483},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,585},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd12.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,683},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd13.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,683},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd14.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,809},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd15.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,911},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimgd16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,687},{100,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,300}</string>
			</dict>
			<key>animation/res/attack/ef_magic/efmagicimg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,789},{139,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ef6.png</string>
			<key>realTextureFileName</key>
			<string>ef6.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>