<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/other/iconTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,255},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>animation/res/other/iconTimePointer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,489},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>animation/res/other/anSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,382},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>animation/res/other/anTarget_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,280},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>animation/res/other/anTarget_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,280},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>animation/res/other/attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{200,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,30}</string>
			</dict>
			<key>animation/res/other/imgWait.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,153},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>animation/res/other/slide.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/res/other/click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/res/other/clickBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/res/other/slideBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>animation/res/other/landmark_circle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,337},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>animation/res/other/target_ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,419},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>animation/res/other/target_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,382},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>animation/res/other/target_plist.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,489},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>animation/res/other/mapDanger_gournd.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>animation/res/other/mapDanger_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,153},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>animation/res/other/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,424},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,382},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,456},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,414},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,382},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,446},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,414},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
			<key>animation/res/other/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,446},{30,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>other.png</string>
			<key>realTextureFileName</key>
			<string>other.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>