<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/scene/anCemetery.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{371,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,203}</string>
			</dict>
			<key>animation/res/scene/MainFG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{798,667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,667}</string>
			</dict>
			<key>animation/res/scene/sceneMainWarehouse3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,802},{80,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,96}</string>
			</dict>
			<key>animation/res/scene/sceneMainTavern3.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,548},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>animation/res/scene/sceneMainMarket3.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,886},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>animation/res/scene/sceneMainManor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,884},{80,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,87}</string>
			</dict>
			<key>animation/res/scene/sceneMainCemetery3.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,963},{80,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,44}</string>
			</dict>
			<key>animation/res/scene/sceneMainCastle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,950},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>animation/res/scene/sceneMainBattle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,966},{80,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,53}</string>
			</dict>
			<key>animation/res/scene/sceneMainAtelier3.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,868},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>animation/res/scene/MainFG2.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,374},{80,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,67}</string>
			</dict>
			<key>animation/res/scene/anLight.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,868},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>animation/res/scene/anBattle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,802},{29,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,46}</string>
			</dict>
			<key>animation/res/scene/anBattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,850},{26,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,34}</string>
			</dict>
			<key>animation/res/scene/anBattle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,456},{59,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,90}</string>
			</dict>
			<key>animation/res/scene/sceneMainMarket1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,670},{345,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{345,323}</string>
			</dict>
			<key>animation/res/scene/sceneMainMarket2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,670},{345,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{345,323}</string>
			</dict>
			<key>animation/res/scene/sceneMainBattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,374},{228,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,151}</string>
			</dict>
			<key>animation/res/scene/sceneMainPVP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,966},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>
			<key>animation/res/scene/sceneTree3.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,630},{80,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>animation/res/scene/sceneCrucible1.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,604},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/res/scene/sceneCrucible2.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,670},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>animation/res/scene/sceneCrucible3.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,736},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scene1.png</string>
			<key>realTextureFileName</key>
			<string>scene1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>