<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroShuangfukuangzhan/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,406},{105,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,281}</string>
			</dict>
			<key>animation/res/monster/heroShuangfukuangzhan/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,253},{138,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,294}</string>
			</dict>
			<key>animation/res/monster/heroShuangfukuangzhan/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,448},{142,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,184}</string>
			</dict>
			<key>animation/res/monster/heroShuangfukuangzhan/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,760},{78,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,69}</string>
			</dict>
			<key>animation/res/monster/heroShuangfukuangzhan/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1},{213,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,250}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,714},{87,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,219}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,714},{80,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,206}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,842},{103,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,115}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,877},{101,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,128}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,403},{218,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,271}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1},{158,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,400}</string>
			</dict>
			<key>animation/res/monster/monShixianggui/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1},{169,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,403}</string>
			</dict>
			<key>animation/res/monster/heroXincike/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,935},{80,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,149}</string>
			</dict>
			<key>animation/res/monster/heroXincike/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,623},{64,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,168}</string>
			</dict>
			<key>animation/res/monster/heroXincike/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,840},{110,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,140}</string>
			</dict>
			<key>animation/res/monster/heroXincike/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,968},{37,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,58}</string>
			</dict>
			<key>animation/res/monster/heroXincike/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,513},{199,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,273}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/arm_l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,842},{85,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,127}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,755},{85,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,244}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{212,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,527}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,199},{167,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,247}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,618},{198,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,135}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{213,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,436}</string>
			</dict>
			<key>animation/res/monster/monEmodajun/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,623},{198,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,135}</string>
			</dict>
			<key>animation/res/monster/monLongyi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,714},{90,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,278}</string>
			</dict>
			<key>animation/res/monster/monLongyi/arm_r1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,968},{44,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,87}</string>
			</dict>
			<key>animation/res/monster/monLongyi/arm_r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,393},{66,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,223}</string>
			</dict>
			<key>animation/res/monster/monLongyi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,760},{115,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,136}</string>
			</dict>
			<key>animation/res/monster/monLongyi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,842},{86,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,130}</string>
			</dict>
			<key>animation/res/monster/monLongyi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1},{196,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,252}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon19.png</string>
			<key>realTextureFileName</key>
			<string>mon19.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>