<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroLuolana/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,648},{65,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,81}</string>
			</dict>
			<key>animation/res/monster/heroLuolana/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,564},{65,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,82}</string>
			</dict>
			<key>animation/res/monster/heroLuolana/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,494},{68,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,109}</string>
			</dict>
			<key>animation/res/monster/heroLuolana/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{185,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,284}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,522},{77,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,191}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,344},{103,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,148}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,370},{110,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,150}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,812},{73,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,59}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/2/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,659},{191,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,263}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1},{161,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,191}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,812},{193,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,167}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{293,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,370}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,373},{186,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,239}</string>
			</dict>
			<key>animation/res/monster/monChailangren/2/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,924},{75,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,259}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,875},{148,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,188}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,194},{144,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,174}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,601},{108,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,133}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,194},{148,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,109}</string>
			</dict>
			<key>animation/res/monster/monDijing/2/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,614},{196,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,165}</string>
			</dict>
			<key>animation/res/monster/heroLuolana/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,641},{152,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,232}</string>
			</dict>
			<key>animation/res/monster/heroLuolana/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,614},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>animation/res/monster/heroLuolana/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,736},{145,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon12.png</string>
			<key>realTextureFileName</key>
			<string>mon12.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>