<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monLong/binglong/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{693,676}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,676}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/rock.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{710,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{710,290}</string>
			</dict>
			<key>animation/res/monster/monLong/binglong/wing_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,679},{307,616}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,616}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon17.png</string>
			<key>realTextureFileName</key>
			<string>mon17.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>