<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monJuren/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{336,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,529}</string>
			</dict>
			<key>animation/res/monster/monJuren/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,532},{396,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,371}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,776},{167,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,167}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,716},{58,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,92}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,776},{90,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,164}</string>
			</dict>
			<key>animation/res/monster/monJinshukuilei/ll.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,250},{83,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,196}</string>
			</dict>
			<key>animation/res/monster/monHeipaoshushi/cape.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{322,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,340}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,245},{78,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,118}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/equip.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,476},{41,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,291}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,810},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,466},{47,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,78}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,343},{121,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,290}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/ll.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,476},{23,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,81}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,945},{74,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,125}</string>
			</dict>
			<key>animation/res/monster/heroNvzhanshi/shoulder_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,515},{36,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,50}</string>
			</dict>
			<key>animation/res/monster/monDadao/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,591},{84,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,68}</string>
			</dict>
			<key>animation/res/monster/monDadao/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,716},{71,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,264}</string>
			</dict>
			<key>animation/res/monster/monDadao/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1},{117,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,145}</string>
			</dict>
			<key>animation/res/monster/monDadao/cape__0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,343},{131,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,304}</string>
			</dict>
			<key>animation/res/monster/monDadao/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,466},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>animation/res/monster/monDadao/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,1},{140,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,277}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,466},{78,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,248}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,930},{76,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,304}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/bible.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,519},{88,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,70}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,148},{95,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,109}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,466},{46,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,76}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,942},{88,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,71}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,519},{269,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,255}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1},{78,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,247}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/arm_r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,930},{92,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,304}</string>
			</dict>
			<key>animation/res/monster/monBaipaoxianzhe/bible2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,519},{88,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon11.png</string>
			<key>realTextureFileName</key>
			<string>mon11.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>