<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monLong/binglong/wing_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,680},{279,578}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{279,578}</string>
			</dict>
			<key>animation/res/monster/monLong/heilong/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{396,677}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,677}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/arm_l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,961},{55,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,92}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,157},{115,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,330}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/arm_r1.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,961},{55,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,92}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/arm_r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,712},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,602},{104,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,124}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,961},{41,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,61}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,497},{144,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,272}</string>
			</dict>
			<key>animation/res/monster/heroZhongjiazhanshi/sheild.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1},{154,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,238}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,489},{100,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,129}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,242},{99,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,181}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,680},{73,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,119}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,203},{202,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,225}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{200,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,293}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/1/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,961},{58,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,155}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/1/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,425},{107,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,129}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/1/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,430},{116,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,170}</string>
			</dict>
			<key>animation/res/monster/heroNvhaidao/1/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,203},{190,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,292}</string>
			</dict>
			<key>animation/res/monster/heroLuolishengzhi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,961},{23,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,123}</string>
			</dict>
			<key>animation/res/monster/heroLuolishengzhi/arm_R.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,643},{68,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,139}</string>
			</dict>
			<key>animation/res/monster/heroLuolishengzhi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,784},{69,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,99}</string>
			</dict>
			<key>animation/res/monster/heroLuolishengzhi/book.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,961},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>animation/res/monster/heroLuolishengzhi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,620},{90,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,103}</string>
			</dict>
			<key>animation/res/monster/heroLuolishengzhi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1},{72,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,239}</string>
			</dict>
			<key>animation/res/monster/monLongyi/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,556},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon18.png</string>
			<key>realTextureFileName</key>
			<string>mon18.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>