<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monJushikuilei/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{255,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,274}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1},{192,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,302}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,848},{167,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,314}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,817},{13,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,26}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,187},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,817},{28,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,40}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,45},{31,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,46}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,93},{39,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,32}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,817},{18,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,817},{41,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,23}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,817},{16,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,26}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,160},{25,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,33}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,134},{24,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,36}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1},{35,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,42}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,966},{49,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,65}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,966},{39,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,61}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,102},{38,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,47}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,277},{255,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,273}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,552},{176,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,293}</string>
			</dict>
			<key>animation/res/monster/monJushikuilei2/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,387},{163,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,301}</string>
			</dict>
			<key>animation/res/monster/heroRenleinvqiangxia/arm_l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,966},{47,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,58}</string>
			</dict>
			<key>animation/res/monster/heroRenleinvqiangxia/arm_l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,305},{220,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,136}</string>
			</dict>
			<key>animation/res/monster/heroRenleinvqiangxia/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,966},{57,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,165}</string>
			</dict>
			<key>animation/res/monster/heroRenleinvqiangxia/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,338},{79,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,110}</string>
			</dict>
			<key>animation/res/monster/heroRenleinvqiangxia/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,307},{78,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,113}</string>
			</dict>
			<key>animation/res/monster/heroRenleinvqiangxia/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,552},{233,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,294}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,1},{109,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,304}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1},{131,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,311}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,891},{124,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,181}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,966},{40,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,104}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/head2.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1},{60,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,99}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,730},{159,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,282}</string>
			</dict>
			<key>animation/res/monster/heroRenleishushi/stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,742},{73,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,437}</string>
			</dict>
			<key>animation/res/monster/heroWuyi/arm.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,842},{122,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,422}</string>
			</dict>
			<key>animation/res/monster/heroWuyi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,216},{103,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,120}</string>
			</dict>
			<key>animation/res/monster/heroWuyi/body_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,552},{188,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,313}</string>
			</dict>
			<key>animation/res/monster/heroWuyi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,443},{176,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,253}</string>
			</dict>
			<key>animation/res/monster/heroWuyi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{146,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,271}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon2.png</string>
			<key>realTextureFileName</key>
			<string>mon2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>