<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/heroYamaxun/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,196},{54,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,156}</string>
			</dict>
			<key>animation/res/monster/heroYamaxun/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{267,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,336}</string>
			</dict>
			<key>animation/res/monster/heroYamaxun/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,324},{66,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,111}</string>
			</dict>
			<key>animation/res/monster/heroYamaxun/hair.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,522},{99,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,60}</string>
			</dict>
			<key>animation/res/monster/heroYamaxun/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,695},{57,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,74}</string>
			</dict>
			<key>animation/res/monster/heroYamaxun/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1},{132,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,271}</string>
			</dict>
			<key>animation/res/monster/heroZhuoernvcike/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,199},{66,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,221}</string>
			</dict>
			<key>animation/res/monster/heroZhuoernvcike/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,584},{48,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,103}</string>
			</dict>
			<key>animation/res/monster/heroZhuoernvcike/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,193},{86,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,129}</string>
			</dict>
			<key>animation/res/monster/heroZhuoernvcike/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,695},{63,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,59}</string>
			</dict>
			<key>animation/res/monster/heroZhuoernvcike/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,274},{91,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,282}</string>
			</dict>
			<key>animation/res/monster/monChailangren/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,367},{161,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,191}</string>
			</dict>
			<key>animation/res/monster/monChailangren/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{193,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,167}</string>
			</dict>
			<key>animation/res/monster/monChailangren/l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{293,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,370}</string>
			</dict>
			<key>animation/res/monster/monChailangren/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,700},{186,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,239}</string>
			</dict>
			<key>animation/res/monster/monChailangren/r.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,941},{75,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,259}</string>
			</dict>
			<key>animation/res/monster/monDijing/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1},{148,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,188}</string>
			</dict>
			<key>animation/res/monster/monDijing/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,346},{144,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,174}</string>
			</dict>
			<key>animation/res/monster/monDijing/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,624},{108,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,133}</string>
			</dict>
			<key>animation/res/monster/monDijing/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,598},{148,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,109}</string>
			</dict>
			<key>animation/res/monster/monDijing/leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1},{196,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,165}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/8_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,373},{147,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,325}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,1},{105,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,190}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,560},{117,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,202}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,437},{112,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,159}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,976},{47,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,121}</string>
			</dict>
			<key>animation/res/monster/monDuoxinmo/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,711},{182,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,280}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,267},{77,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,190}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,191},{103,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,148}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,512},{110,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,150}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,634},{73,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,59}</string>
			</dict>
			<key>animation/res/monster/monFangzhuzhe/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,711},{191,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,263}</string>
			</dict>
			<key>animation/res/monster/monJuren/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,341},{111,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,169}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon3.png</string>
			<key>realTextureFileName</key>
			<string>mon3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>