<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animation/res/monster/monXiongdijing/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1},{217,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,400}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{201,446}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,446}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,204},{237,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,326}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,443},{202,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,289}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,314}</string>
			</dict>
			<key>animation/res/monster/monXiongdijing/weapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{158,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,435}</string>
			</dict>
			<key>animation/res/monster/monYezhu/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,867},{67,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,92}</string>
			</dict>
			<key>animation/res/monster/monYezhu/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,846},{94,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,98}</string>
			</dict>
			<key>animation/res/monster/monYezhu/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,403},{227,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,321}</string>
			</dict>
			<key>animation/res/monster/monYezhu/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,726},{225,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,251}</string>
			</dict>
			<key>animation/res/monster/monYouling/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,754},{119,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,191}</string>
			</dict>
			<key>animation/res/monster/monYouling/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,828},{112,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,165}</string>
			</dict>
			<key>animation/res/monster/monYouling/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,647},{92,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,197}</string>
			</dict>
			<key>animation/res/monster/monYouling/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,603},{138,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,262}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/arm_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,947},{63,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,169}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,204},{110,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,309}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,936},{87,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,125}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,443},{47,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,76}</string>
			</dict>
			<key>animation/res/monster/monSilingqishi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,647},{179,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,254}</string>
			</dict>
			<key>animation/res/monster/monHeipaoshushi/legs.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,317},{163,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,284}</string>
			</dict>
			<key>animation/res/monster/monHeipaoshushi/head.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,745},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>
			<key>animation/res/monster/monHeipaoshushi/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,867},{144,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,139}</string>
			</dict>
			<key>animation/res/monster/monHeipaoshushi/arm_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,515},{87,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,228}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mon5.png</string>
			<key>realTextureFileName</key>
			<string>mon5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>